.iconbuttons{
    border-radius: 4px;
    background-color: white;
    border-width: 1px ;
}
img{
    width: 100%;
}

.card-header{
    padding: 0 1rem !important;
}
.card-header h6, .card-header p{
    margin-bottom: 0;

}

.like-comment p{
    margin: 0 0 0 1rem;
}